<form (ngSubmit)="register()" [formGroup]="registrationForm">

  <div class="p-grid">
    <div class="p-col-2">
      <img align="left" class="img-fluid" src="../../../../../assets/icons/icon-152x152.png">
    </div>
    <div class="p-col-8">
      <div class="p-d-inline-block h4 pt-2 w-100 p-text-center">Registration</div>
    </div>
    <div class="p-col-12">
      <p-divider></p-divider>
    </div>
    <div class="p-col-12">
      <span class="p-input-icon-left p-input-icon-right p-fluid w-100">
        <i class="pi pi-user"></i>
        <input formControlName="username" pInputText placeholder="Username" type="text">
        <i *ngIf="usernameUnique === true && !registrationForm.get('username').invalid"
           class="pi pi-check text-success"></i>
        <i *ngIf="isControlTouchedInvalid('username') || usernameUnique === false" class="pi pi-times text-danger"></i>
      </span>
      <div *ngIf="isControlTouchedInvalid('username')">
        <div *ngIf="registrationForm.get('username').errors.required">
          <span class="p-invalid">Username is required</span>
        </div>
        <div *ngIf="registrationForm.get('username').errors.pattern">
          <span class="p-invalid">Please provide correct username</span>
        </div>
      </div>
      <div *ngIf="usernameUnique === false && !registrationForm.get('username').invalid">
        <span class="p-invalid">Provided username was used</span>
      </div>
    </div>
    <div class="p-col-12">
      <div class="p-input-icon-left p-input-icon-right p-fluid w-100">
        <i class="pi pi-envelope"></i>
        <input formControlName="email" pInputText placeholder="Email" type="text">
        <i *ngIf="emailUnique === true && !registrationForm.get('email').invalid" class="pi pi-check text-success"></i>
        <i *ngIf="isControlTouchedInvalid('email') || emailUnique === false" class="pi pi-times text-danger"></i>
      </div>
      <div *ngIf="isControlTouchedInvalid('email')">
        <div *ngIf="registrationForm.get('email').errors.required">
          <span class="p-invalid">Email is required</span>
        </div>
        <div *ngIf="registrationForm.get('email').errors.pattern">
          <span class="p-invalid">Please provide correct email</span>
        </div>
      </div>

      <div *ngIf="emailUnique === false && !registrationForm.get('email').invalid">
        <span class="p-invalid">Provided email was used</span>
      </div>
    </div>
    <div class="p-col-12">
      <div class="p-input-icon-left p-input-icon-right p-fluid w-100">
        <i class="pi pi-lock"></i>
        <input [feedback]="false" formControlName="password" pPassword placeholder="Password" type="password"/>
        <i *ngIf=" !registrationForm.get('password').invalid" class="pi pi-check text-success"></i>
        <i *ngIf="isControlTouchedInvalid('password')" class="pi pi-times text-danger"></i>
      </div>
      <div *ngIf="isControlTouchedInvalid('password')">
        <div *ngIf="registrationForm.get('password').errors.required">
          <span class="p-invalid">Password is required</span>
        </div>
        <div *ngIf="registrationForm.get('password').errors.pattern">
          <span class="p-invalid">Min password length is 6</span>
        </div>
        <div *ngIf="registrationForm.get('password').errors.maxlength">
          <span class="p-invalid">Max password length is 128</span>
        </div>
      </div>
    </div>
    <div class="p-col-12">
      <div class="p-input-icon-left p-input-icon-right p-fluid w-100">
        <i class="pi pi-lock"></i>
        <input [feedback]="false" formControlName="password2" pPassword placeholder="Repeat password" type="password"/>
        <i *ngIf=" !registrationForm.get('password2').invalid" class="pi pi-check text-success"></i>
        <i *ngIf="isControlTouchedInvalid('password2')" class="pi pi-times text-danger"></i>
      </div>
      <div *ngIf="isControlTouchedInvalid('password2')">
        <div *ngIf="registrationForm.errors?.password">
          <span class="p-invalid">Provided passwords are not same</span>
        </div>
      </div>
    </div>
    <div class="p-col-12">
      <p-divider></p-divider>
    </div>

    <div class="p-col-6">
      <button (click)="back()" class="w-100 p-fluid p-button-info p-button-outlined" label="Back" pButton
              pRipple></button>
    </div>
    <div class="p-col-6">
      <button [disabled]="!isSubmitEnabled" class="w-100 p-fluid p-button-outlined" label="Sign Up" pButton pRipple
              type="submit"></button>
    </div>
  </div>
</form>
