<div class="topbar">
  <div class="w-100 p-grid m-0 p-0">
    <!--    <div class="p-col-12 p-lg-7 h-100 my-0  p-0 no-pad">-->
    <!--      <span class="h3 h-70 ml-4 mb-0 align-middle text-center p-d-inline-flex">-->
    <!--               [PWA Chat]-->
    <!--      </span>-->
    <!--    </div>-->
    <!--    <div class="p-col-6 p-lg-5 p-d-none p-d-lg-inline my-0  p-0 no-pad">-->
    <!--      <div class="mr-0 p-grid m-0 p-0">-->
    <!--        <div class="account-button float-right h-70 p-col-7 text-center m-0 p-0 ">-->

    <!--        </div>-->
    <!--        <div class="text-center p-col-5 float-right">-->
    <!--          <i class="pi pi-sun h4 m-3"> </i>-->
    <!--          <p-inputSwitch (onChange)="changeTheme()" [(ngModel)]="darkSwitch"></p-inputSwitch>-->
    <!--          <i class="pi pi-moon h5 m-3"> </i>-->
    <!--        </div>-->
    <!--      </div>-->
    <!--    </div>-->
  </div>
</div>


