<div class="p-grid">
  <div class="p-col-2">
    <img align="left" class="img-fluid" src="assets/icons/icon-150x150.png">
  </div>
  <div class="p-col-8">
    <div class="p-d-inline-block h4 pt-2 w-100 p-text-center">[PWA Chat]</div>
  </div>
  <div class="p-col-12">
    <p-divider></p-divider>
  </div>
  <div class="p-col-12">
    <span class="p-input-icon-left p-fluid w-100">
      <i class="pi pi-user"></i>
      <input pInputText placeholder="Username/Email" type="text">
    </span>
  </div>
  <div class="p-col-12">
    <span class="p-input-icon-left p-fluid w-100">
      <i class="pi pi-lock"></i>
      <input [feedback]="false" pPassword placeholder="Password" type="password"/>
    </span>
  </div>
  <div class="p-col-12">
    <p-divider></p-divider>
  </div>
  <div class="p-col-12">
    <button class="w-100 p-fluid p-button-outlined p-button-secondary" icon="pi pi-google" iconPos="left"
            label="Log with Google"
            pButton pRipple></button>
  </div>
  <div class="p-col-12">
    <p-divider></p-divider>
  </div>
  <div class="p-col-6">
    <button class="w-100 p-fluid  p-button-info p-button-outlined" label="Sign Up" pButton pRipple></button>
  </div>
  <div class="p-col-6">
    <button class="w-100 p-fluid p-button-outlined" label="Log in" pButton pRipple></button>
  </div>
</div>

